.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}

.screen-header__title {
  font-size: 22px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex-end;
  justify-content: space-between;
}
